<div class="header">
    <div class="container">
        <h1>
            {{header}}
        </h1>
    </div>
</div>

<div class="content mt-5">
    <div class="container">
        <h2 class="text-center">Your Calories of the day</h2>
        <div class="row">
            <div class="col-md-4 offset-md-4 card">
                <h2><span class="calories">{{query.cal}}</span> Calories</h2>
            </div>
        </div>
    </div>
</div>
<div class="content mt-5 mb-5">
    <div class="container">

        <div class="card">
            <div class="card-header">
                <h3>Breakfast</h3>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                <h3>Lunch</h3>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                <h3>Dinner</h3>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
            </div>
        </div>

    </div>
</div>


<script>
    (function($){

        



    })(jQuery);
</script>