<div class="header">
    <div class="container text-center">
        <h1 class="page-title">
            {{header}}
        </h1>
    </div>
</div>



<div class="content mt-5">
    <div class="container">
        <h2 class="text-center">Your Calories of the day</h2>
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center card">
                <h2><span class="calories"></span></h2>
            </div>
        </div>
    </div>
</div>
<div class="content mt-5 mb-5">
    <div class="container">
        <div class="row meals">
            <!-- The Recipes get added here -->
        </div>
    </div>
</div>


<script src="/js/diet-recipes.js"></script>