<div class="container">

<body background="https://images.unsplash.com/photo-1536566482680-fca31930a0bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
</body>

    <div class="card">
        <div class="card-body">
        Your daily calorie intake goal is .....
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 mt-5">
        <div class="col mb-4">
            <div class="card">
                <img src="/assets/pics/paleo.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">PALEO DIET</h5>
                <p class="card-text">A dietary plan that consists of fish, lean meats, fruits, nuts, vegetables, and seeds. Some foods to avoid are grains, dairy, salt, refined sugar, or highly processed foods. People may follow this diet because not only is it a sufficient way to lose weight, it is also an effective way to maintain a healthy weight. It is also recommended to get regular exercise when following this diet plan.</p>
                <a href="/diet-recipes/paleo?cal=2000" class="btn btn-primary">Choose</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="/assets/pics/vegan.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">VEGAN DIET</h5>
                    <p class="card-text">A dietary plan that is devoid of all food products associated with animals. This diet avoids foods such as meat, eggs, and dairy. Plant foods are usually consumed instead. These consist of fruits, vegetables, nuts, whole grains, and seeds. The benefits of a vegan diet include: losing weight/ having a lower body mass index than non-vegan eaters, reducing the chance of contracting diabetes, a lower risk of heart disease, and aiding in the cause of protecting animals and the environment.</p>
                    <a href="/diet-recipes/vegan?cal=1600" class="btn btn-primary">Choose</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="/assets/pics/vegetarian.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">VEGETARIAN DIET</h5>
                    <p class="card-text">A dietary plan that consists of fruits, vegetables, grains, nuts, seeds, and dairy. All forms of meat/fish are avoided. Some advantages for following this diet plan are supporting weight loss, reducing the risk of heart disease, protecting the rights of animals, and reducing greenhouse gas emissions.</p>
                    <a href="/diet-recipes/vegetarian?cal=1700" class="btn btn-primary">Choose</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="/assets/pics/highprotein" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">HIGH PROTEIN DIET</h5>
                    <p class="card-text">A dietary plan consisting of meat, fish, dairy, beans, eggs, and protein-rich vegetables. People following this diet will also reduce the amount of carbohydrates they consume. Benefits of this diet plan include: weight loss due to an increased metabolism rate, helping the body maintain and repair muscles/bones, increased muscle mass, and the increased production of amino acids.</p>
                    <a href="/diet-recipes/highprotein?cal=2000" class="btn btn-primary">Choose</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="/assets/pics/lowfat.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">LOW FAT DIET</h5>
                    <p class="card-text">A dietary plan that consists of all types of grains, low fat dairy products, low fat meat/fish products, fruits, and vegetables. People may follow this diet because it essentially eliminates the unhealthy fats from the diet overall. Eating low fat foods reduce the risk of heart disease, lowering cholesterol/blood pressure rates, and reducing the chance of causing diarrhea. </p>
                    <a href="/diet-recipes/lowfat?cal=2000" class="btn btn-primary">Choose</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="/assets/pics/balanced.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BALANCED DIET</h5>
                    <p class="card-text">A dietary plan that fulfills an individual’s nutritional needs since everyone needs a certain amount of calories/nutrients to remain healthy. Each meal should be made up of 50% fruits/vegetables, 50% grains/protein, and a serving of a low fat dairy source. However, junk foods or processed foods should be avoided because those foods are not considered nutritious.</p>
                    <a href="/diet-recipes/balanced?cal=2000" class="btn btn-primary">Choose</a>
                </div>
            </div>
        </div>
    </div>
</div>