<form id="signin-form" class="form-signin card " toggle="off">
    <div class="space"></div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Please log in.</h1>
                <p></a>
                </p>
            </div>

            <div class="form-label-group">
                <input id="signinInputEmail" type="email" class="form-control" placeholder="Email address" required
                    autofocus>
                <label for="inputEmail">Email address</label>
            </div>

            <div class="form-label-group">
                <input type="password" id="signinInputPassword" class="form-control" placeholder="Password" required>
                <label id="signinInputPassword" for="inputPassword">Password</label>
            </div>

            <button id="sign-in-submit-btn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <div id="signin-message" class="text-monospace"></div>

            <div class="space"></div>
        </div>
    </div>
</form>